<%= form_for [:admin, @category,@word] do |f| %>
<%= render "shared/error_messages", object: f.object%>
<div class="form-group">
    <%= f.label :word%>
    <%= f.text_field :content, class: 'form-control' %>
</div>
<div class="form-group">
    <%= label_tag "choices"%>
    <%= f.fields_for :choices do |choice| %>
        <%= choice.text_field :content, class: 'form-control' %>
        <%= choice.check_box :isCorrect, class: 'mb-3' %>
        <p class="d-inline">This is the answer</p>
    <% end %>
</div>
<%= f.submit btn_msg, class: 'btn btn-outline-dark btn-block'%>
<% end %>