<div class="container">
    <h1 class="text-center mb-3 mt-3">Lessons</h1>
    <div class="lesson-conditon text-center mt-3">
        <%= link_to( "All", categories_path, class: "mx-auto lesson-head btn btn-outline-dark")%>
        <%= link_to( "Learned", categories_path(status: "1"), class: "mx-auto lesson-head btn btn-outline-dark")%>
        <%= link_to( "Not learned", categories_path(status: "0"), class: "mx-auto lesson-head btn btn-outline-dark")%>
    </div>
    <div class="row">
        <% @categories.each do |category| %>
            <div class="col-4">
                <div class="media">
                    <div class="media-body">
                        <div class="rounded text-center">
                            <div class="card text-dark bg-color mx-auto mb-3 box1">
                                <div class="card-body">
                                    <div class="card-head">
                                        <h3 class="card-title text-left"><%= category.title%></h3>
                                        <p class="card-text text-left"><%= category.description%></p>
                                    </div>
                                    <h5 class="text-right"><%= category.words.count%> words</h5>
                                    <% lesson = current_user.lesson_taken(category.id)%>
                                    <% if lesson.nil?%>
                                        <%=link_to "start lesson", lessons_path(category_id: category.id), method: :post, class: "btnn-stitch2 btn mt-5 float-right"%>
                                    <% else%>
                                        <%=link_to "show result", lesson_path(lesson), class: "mt-5 float-right btnn-stitch1 btn"%>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
    <div class="paginate text-center">
        <%= will_paginate%>
    </div>
</div>