<div class="container mt-5">
    <div class="row">
        <div class="col-3 text-center">
            <h1>Dashboard</h1>
        </div>
        <div class="col-9 text-center">
            <h1>Activities</h1>
        </div>
    </div>
    <div class="row">
        <div class="personal col-3 text-center ">
            <div class="mt-5"><%= gravatar_for(@user, "show-gravatar")%></div>
            <div class="media-body user-name">
                <h2> <%= @user.name%> </h2>
                <div class="row mt-3">
                    <div class="following col-6">
                        <p class="follow-text">following<p>
                        <h3><%= @user.active_relationships.count %></h3>
                        </div>
                    <div class="follwers col-6">
                        <p class="follow-text">followers<p>
                        <h3><%= @user.passive_relationships.count %></h3>
                    </div>
                </div>
                <% if current_user %>
                    <%= link_to "Setting", edit_user_path(current_user), class: "admin-btn btn btn-outline-dark mx-auto"%>
                <% end %>
                <% if current_user.admin %>
                    <%= link_to "Admin", admin_top_path, class: "admin-btn btn btn-outline-dark mx-auto"%>
                <% end %>
            </div>
        </div>
    </div>
</div>